*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}





/*home page */






#firsttable{
  table-width:100%;
  table-height:0%;
  background-color: white;
  border:0px solid black;
  margin:5;
            }

.fa {
  padding:20px;
  padding-bottom:25px;
  font-size:400px;
  width:60px;
  height:60px;
  text-align: center;
  text-decoration: none;
  border-radius:50%;
  margin-right: 20px;
  margin-left: 10px;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-whatsapp {
  background: #25D366;
  color:#FFFFFF;
}


.active, .fa:hover{
  background:#FF0040;
  border-radius:50%;
}
.secondtable{
  background-color: white;
  text-align:center;
  font-size:22px;
          }

.secondtable ul{
  display: inline-flex;
  list-style: none;
  color:black;
  }

.secondtable ul li{
  width: 120px;
  margin: 10px;
  padding: 10px;
  background-color: white;
  font-weight: bold;
}

.secondtable ul li a{
  text-decoration:none;
  color:black;
}

.active, .secondtable ul li:hover{
  background:#E6E6E6;
  border-radius:2px; 
}

.submenu-1{
  display:none;
}

.secondtable ul li:hover .submenu-1{
  display: block;
  position: absolute;
  background: white;
  margin-top:10px;
  z-index: 2;
}

.secondtable ul li:hover .submenu-1 ul{
  display: block;
  margin: 5px;
  position:relative;
  z-index: 2;
}

.secondtable ul li:hover .submenu-1 ul li{
  width: 150px;
  padding:2px;
  border-bottom: 1px solid #0000;
  background:white;
  border-radius:0;
  text-align: left;
}


.secondtable ul li:hover .submenu-1 ul li a:hover{
  color:red;
}

.slideshow-container {
  max-width: 100%;
  position: relative;
  z-index: 1;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.aboutme{
  width:100%;
  height:450px;
  background-color:black;
}

.aboutmepicture{
  margin:0px;
  width:40%;
  text-align: center;
  padding-top:30px;
  padding-left: 10px;
  float:left;
}

.aboutmetext{
  text-align: center;
  font-size: 20px;
  font-family: cursive;
 padding-right:50px; 
  color: white;
  text-align: left;
}

.line {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

hr {
  border: 0;
  border-top: 5px double black;
  flex: 1;
  z-index: 1;
}

i:after {
  font-size: 30px;
  color: black;
  padding: 20px;
  content: '\2665';
  display: inline-block;
}

.latest{
  width:100%;
  height:150px;
  background-color:#CEECF5;
  text-align: center;
  font-size: 45px;
  font-family: cursive;
  padding-top: 20px;
  }

.container{
  max-width:1020px;
  margin: auto;
  background-color:#CEECF5;
  overflow: auto;
}

.blog{
  margin:5px;
  border:1px #ccc;
  border-radius:3%;
  float:left;
  width:460px;
  margin-bottom:50px;
  margin-left: 30px;
  background-color: white;
}

.blog img{
  width:100%;
  height:290px;
  border-top-right-radius: 
}

.desc{
  padding:15px;
  text-align: center;
  height:80px;
 
}

.desc a{
  text-decoration: none;
   font-family: Comic Sans MS;
   color:black;
   font-size: 20px;
    font-weight: bold;
}

.desc a:hover{
  color:red;
}

.popular{
  width:100%;
  height:150px;
  background-color:white;
  text-align: center;
  font-size: 60px;
  font-family: Comic Sans MS;
  padding-top: 20px;
  }






/* about us */






.about-image {
    position: relative; 
    height:500px;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.about-image::before {    
      content: "";
      background-image: url('https://images.pexels.com/photos/4555671/pexels-photo-4555671.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.75;
}

h1 {
  position: relative;
  color: #ffffff;  
  font-size: 6rem;
  line-height: 0.9;
  text-align: center;
}

.about-container{
  max-width: 1400px;
  background-color:white;
  max-height: 1800px;
}

.aboutus-table{
  width:1300px;
  max-height: 800px;
  background-color:white;
}

.aboutus-picture{
  margin:0px;
  width:40%;
  text-align: center;
  padding-top:35px;
  padding-left: 30px;
  padding-right:30px;
  float:left;
  border-radius:5%;
}

.aboutus-text{
  font-size: 20px;
  font-family: cursive;
  padding-left:50px;
  padding-top: 30px;
  color:black;
  text-align:left;
}





/*footer*/




h2 {
  text-align: center;
  font-weight: bold;
  font-family: cursive;
  padding-top: 20px;
  }

footer{
  width:100%;
  height:350px;
  background-color: #0a2239;
}

.footer-table{
  max-width: 1240px;
  margin: auto;
  height:320px;
  background-color:#0a2239;
}

.footer-head{
  font-size: 30px;
  font-weight: bold;
  color:white;
  padding-top:30px;
  padding-left:60px;
  width:400px;
  height:320px;
  float:left;
  font-family:cursive;
}

.footer-content{
  font-size: 25px;
  font-weight: bold;
  color: black;
  padding-top:30px;
  list-style-type: none;
}
  

.footer-content a{
  text-decoration: none;
  list-style-type: none;
  color:#65afff;
}

.footer-content li:hover{
  color: red;
}


.bottom{
  width:100%;
  height:60px;
  text-align: center;
  background-color: black;
  color:white;
  padding-top: 25px;
  font-size: 15px;
}

.search-field{
  height:30px;
  padding:20px;
  border:none;
  border-radius:5px;
  outline:none;
  margin-top: 50px;
}

.search-btn{
  height:40px;
  width:80px;
  background-color:#ee547b; 
}




/*contact us*/





.head{
  height:200px;
  width:100%;
  margin:0,auto;
  text-align: center;
  background-color: #35a4a6;
  font-family: cursive;
  font-size: 4rem;
  color:white;
  padding-top:50px;
}




input[type=text], input[type=email], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
  font-family: cursive;
  font-size: 15px;
  font-weight: bold;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}


.page
{
  
  width:1500px;
  height:800px;
  border-style: groove;
        
}

.contact-headerpart h2
{ 
color:green;
size:50
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body{
  height: 100vh;
  width: 100%;
}

.contact-container{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
}

.contact-container:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url("img/bg.jpg") no-repeat center;
  background-size: cover;
  filter: blur(50px);
  z-index: -1;
}
.contact-box{
  max-width: 750px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
        position:absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color:sky blue;
  box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
  background: url("image.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
}

.right{
  padding: 25px 40px;
}

h2{
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
}

h2:after{
  content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

.field{
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: .3s;
}

.field:hover{
  background-color:cyan;
}

textarea{
  min-height: 150px;
}

.btn{
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #2ecc71;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .3s;
}

.btn:hover{
    background-color: #27ae60;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px){
  .contact-box{
    grid-template-columns: 1fr;
  }
  .left{
    height: 200px;
  }
}






/*destination*/




.destination-container{
  width:1100px;
  background-color: white;
  max-height:3500px;
  margin-top:50px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;

}

.header{
  width:100%;
  text-align: center;
  padding-bottom: 20px;
  font-weight: bold;
  padding-top: 40px;
  font-size: 40px;
  font-family: Comic Sans MS;
  color: #335c81;
}

.header img{
  width:1000px;
  padding-top: 20px;
  padding-bottom: 20px;
  height:600px;
  text-align: center;
}

.header text{
  font-size: 20px;
  font-family: cursive;
  font-weight: normal;
  color:black;
  width: 1000px;
  text-align:right;
}




/*privacy policy*/



.title{
  font-size:30px;
  font-family: Comic Sans MS;
  float:left;
}




/*destinaton blogs*/



.blog-container{
  width:1200px;
  height:auto;
  margin:0,auto;
  padding-left: 100px;
  padding-right: 100px;
  font-family: Comic Sans MS;
  font-size: 20px;
  margin-left: 75px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 50px;
  background-color: white;
}

.blog-title{
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 50px;
}

.blog-container img{
  width:100%;
  height:500px;
  padding-bottom: 20px;
}

.blog-head{
  font-size: 25px;
  text-align:left;
  padding-top:20px;
  font-weight: bold;
}


